<!-- title -->
<div class="row padding-top-30">
	<div class="col s12">
		<h2 class="text-center title-color rainbow">Modern Web: The Podcast</h2>
	</div>
</div>
<!-- end title -->

<div class="new-cards-container">
	<div class="row">
		{{#each model as |podcast|}}
			<div class="col l3 m6 s12">
				{{podcast-card podcast=podcast}}
			</div>
		{{/each}}
	</div>
</div>


{{!-- add giga --}}
<div class="row">
	<div class="col s12 center-align">
		<img class="responsive-img" src="/img/sams-giga-web-size.png" alt="Giga">
	</div>
</div>
{{!-- end add giga --}}
{{rainbow-tail rainbowClass="rainbow"}}
