<div class="col s12 m6 l4">
	<p class="video-container">
		<iframe width="640" height="360" src="{{featuredvideo.videoURL}}" frameborder="0" allowfullscreen></iframe>
	</p>
	<p><strong>{{featuredvideo.videoTitle}}</strong></p>
	<p>{{featuredvideo.keyTopics}}</p>

</div>