<div class="container">
  <div class="row">
    <div class="col s2 height-100">
      <img class="giga-footer-size" src="img/giga-footprint-footer.png" alt="Giga Footprint" />
    </div>
    <div class="col s10 height-100 text-right white-text">
      <div class="row padding-top-45">
        <div class="col s11">
          Inquiries? Email <a href="mailto:tracy@modern-web.org" class="black-text">Tracy Lee</a>
        </div>
        <div class="col s1">
          <img class="cari-footer-size" src="img/cari-footer.png" alt="Cari" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    &copy; 2015 Modern Web
  </div>
</div>
