<div class="container">
  <div class="row">
    <div class="col s4 height-100">
      <div class="row padding-top-45 white-text">
        Inquiries? Email us <a class="white-text" href="mailto:hello@modern-web.org">hello@modern-web.org</a>
      </div>
    </div>
    <div class="col s8 height-100 text-right white-text">
      <div class="row padding-top-45">
        <div class="col s11">
          {{link-to 'Terms of Service & Privacy Policy' 'terms-of-service'}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    &copy; 2015 Modern Web
  </div>
</div>
