<footer class="page-footer cyan darken-2">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">

				<span>
					<img class="giga-footer-size" src="img/giga-footprint-footer.png" alt="Giga Footprint" />
				</span>
			</div>
			<div class="col l4 offset-l2 s12">
				<p class=text-right>
					<span class="white-text">
						Inquiries? Email tracy@modern-web.org
					</span>
					<span>
						<img class="cari-footer-size" src="img/cari-footer.png" alt="Cari" />
					</span>
				</p>

			</div>
		</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				© 2015 Modern Web
			</div>
		</div>
	</footer>
