{{!-- <div class="col s6 m6 l3"> --}}
<div class='card-panel-wrapper'>
  {{#md-card-panel bodyClass="black-text"}}
    <h4>{{model.title}}</h4>
    <div class={{if (eq model.type "youtube") "video-container"}}>
      <iframe width="100%" height="500px" src={{iframeURL}} frameborder="0" allowfullscreen></iframe>
    </div>
    {{{model.body}}}
  {{/md-card-panel}}
</div>
