<a href=" https://www.eventbrite.com/e/emberjs-fast-track-expansion-track-modern-web-training-with-ember-weekend-tickets-21688386548">{{md-btn text='Register Now' buttonType='large' class='waves-effect waves-light btn-large red'}}</a>
