<div class="row">
	<div class="col s12 center-align">
		{{#md-card-panel class="deep-purple lighten-2" bodyClass="white-text"}}
				<h4>
					Training with EmberWeekend - The Ember Fast Track &amp; Expansion Track.
				</h4>
				<p class=font-size-15em>
					Beginner and intermediate days available. May 23-24, Silicon Valley. Limited seating! Reserve {{link-to 'today' 'trainings' (query-params anchor='register') }}.
				</p>
		{{/md-card-panel}}
	</div>
</div>
