<div class="row">
	<div class="col s12 font-size-15em center-align">
		{{#md-card-panel class="white" bodyClass="black-text"}}
				<h4 class="red-text">
					The Ember Fast Track &amp; Expansion Track, May 23-24, Silicon Valley
				</h4>
				<p>
					Level up on your Ember skills with the Ember Weekend team.
				</p>
				<p>
					Beginner and intermediate days available. Limited seating! Reserve your seat {{link-to 'today' 'trainings' (query-params anchor='register') }}.
				</p>
		{{/md-card-panel}}
	</div>
</div>
