<div class="col s6 m4 l3">
	{{#md-card class="z-depth-1" title=speakers.cardTitle image=speakers.image activator=true}}
  	{{#md-card-content}}
    <div>
    	{{speakers.title}}
    </div>
    <div>
    	{{speakers.cardContent}}
    </div>
  	{{/md-card-content}}
	{{/md-card}}
</div>