<div class="col s6 m4 l4">
	{{#md-card class="z-depth-1" title=speaker.cardTitle image=speaker.image}}
  	{{#md-card-content}}
      <div class="title">{{speaker.title}}</div>
      <div class="content">{{speaker.cardContent}}</div>
  	{{/md-card-content}}
	{{/md-card}}
</div>