<div class="col s6 m4 l3">
	{{#md-card class="z-depth-1" title=speaker.cardTitle image=speaker.image activator=true}}
  	{{#md-card-content}}
    <div>
    	{{speaker.title}}
    </div>
    <div>
    	{{speaker.cardContent}}
    </div>
  	{{/md-card-content}}
	{{/md-card}}
</div>