<div class="card-image">
  <a href="https://www.youtube.com/embed/{{video.mediaId}}">
    <div class='video static-video responsive-img' style={{youtube-thumb video.mediaId}}></div>
  </a>
</div>

<div class="card-content">
  <h5>{{video.title}}</h5>
</div>
