@import 'components/color';
@import 'components/variables';
@import 'materialize';
@import 'ember-cli-materialize';

// logo styling

$logo_size: 80px;

.logo-styling {
  height: $logo_size;
  width: $logo_size;
  border-radius: $logo_size/2;
  margin: 10px;
}

$sponsor_logo: 400px;
.sponsor-logo img {
	width: $sponsor_logo;
}

// end logo styling

// font sizes
.font-size-2em {
  font-size: 2em;
}

.font-size-15em {
  font-size: 1.5em;
}


// end font sizes

// sticky footer
body, html {
	background-color: #fafafa;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
// end sticky footer

// footer styling
.cari-footer-size {
	height: 2em;
}

.giga-footer-size {
	height: 6em;
}
// end footer styling

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.title-white-text {
	text-color: white;
}

.card-title, .card-footer {
  font-size: 16px !important;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-title {
  font-weight: bold !important;
}

.card-footer {
  color: #999;
}

.nav-item {
  cursor: pointer;
}

.speaker-card {
  .title {
    height: 45px;
  }
}

.margin-15 {
  margin: 15px;
  }

.padding-top-15 {
  padding-top: 15px;
  }

.margin-top-30 {
  margin-top: 30px;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

.padding-top-45 {
  padding-top: 45px;
}

.padding-top-30 {
  padding-top: 30px;
}

.padding-bottom-30 {
  padding-bottom: 30px;
}

.position-relative {
	position: relative;
}

.position-absolute {
	position: absolute;
}

.top-15 {
	top: 15px;
}

.line-height-100 {
  line-height: 100px;
}

.height-100 {
  height: 100px;
}

.debug {
  outline: 1px solid black;
}

.video-container {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;

  .video {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 900;
  }

  .background {
    z-index: 800;
  }

  .static,
  .static-podcast {
    top: -30px;
    height: auto;
    margin:auto;
    display:block;
    cursor: pointer;
  }

  .static-podcast {
    top: -45px;
  }
}

.font-size-15em {
  font-size: 1.5em;
}

.title-color {
  color: #00838f;
}

// Media Query Ranges
// $small-screen-up: 601px !default;
// $medium-screen-up: 993px !default;
// $large-screen-up: 1201px !default;
// $small-screen: 600px !default;
// $medium-screen: 992px !default;
// $large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

@mixin column-count($ct) {
  -webkit-column-count: $ct;
  -moz-column-count: $ct;
  column-count: $ct;
}

.cards-container {
  column-break-inside: avoid;
  .card {
    display: inline-block;
    overflow: visible;
  }
}

@media #{$small-and-down} {
  .cards-container {
    @include column-count(2);
  }
}
@media #{$medium-and-up} {
  .cards-container {
    @include column-count(2);
  }
}
@media #{$large-and-up} {
  .cards-container {
    @include column-count(3);
  }
}
