{{input type='text' placeholder='First Name' value=firstName class="firstName-input"}}

{{input type='text' placeholder='Last Name' value=lastName class="lastName-input"}}

{{input type='text' placeholder='Email' value=email class="email-input"}}

<button {{action 'addSignup'}} class="submit">
Submit
</button>