<div class="padding-top-30">
  <h2 class="title-color center-align">Welcome to the Dino Game</h2>
  <h5 class="text-center padding-top-15">Feed the little dino JavaScript and see what happens. It's magic!!</h5>
</div>

<div>
  <div class="row">
    <p class="text-center padding-top-15">This game is easy. Simply drag the frameworks into Giga's cloud and something magical will happen. This illustrates how composable helpers can build a simple drag and drop easily in ember.</p>
    <div class="col l6">
      <div class="card-panel">
          <img class="responsive-img" src="img/js-logos/angular2-logo.jpg" alt="Angular">
          <img class="responsive-img" src="img/js-logos/babeljs-logo.jpg" alt="Babel">
          <img class="responsive-img" src="img/js-logos/ember-logo.png" alt="Ember">
          <img class="responsive-img" src="img/js-logos/polymer-logo.png" alt="Polymer">
          <img class="responsive-img" src="img/js-logos/react-logo.png" alt="React">
          <img class="responsive-img" src="img/js-logos/web-components-logo.png" alt="Web Components">
        </div>
    </div>
    <div class="col l6">
      <img src="img/modern-web-giga-cloud-blank.png" alt="giga">
    </div>
  </div>
</div>
