<div class="container">

<!-- title -->
	<div class="row padding-top-30 text-center">
		<div class="col s12">
      <h2>Events</h2>
      <h5 class="margin-top-30">Our online conferences can be found on <a href="https://www.bigmarker.com/communities/modernweb/">Big Marker</a>.</h5>
      <h5 class="margin-top-30">Are you in the Bay Area? Join our <a href="http://meetup.com/modernweb">meetup</a> for announcements.</h5>
		</div>
	</div>
<!-- end title -->
<div class="row">
	<div class="col s12 center-align margin-top-30">
		<img src="img/sams-giga-web-size.png" alt="giga">
	</div>
</div>
{{!-- <div class="row">
  <div class="col s12">
    <h4>Upcoming</h4>
  </div>
</div>
  <div class="row">
    <div class="col s4">
      {{#md-card title="Card Title" titleClass="orange-text" image="http://placehold.it/100x100"}}

        {{#md-card-content}}
          I am a very simple card. I am good at containing
          small bits of information. I am convenient because
          I require little markup to use effectively.
        {{/md-card-content}}

        {{#md-card-action}}

          <a href="http://meetup.com/modernweb">RSVP</a>
        {{/md-card-action}}

      {{/md-card}}
    </div>

    <div class="col s4">
      {{#md-card title="Card Title" titleClass="orange-text" image="http://placehold.it/100x100"}}

        {{#md-card-content}}
          I am a very simple card. I am good at containing
          small bits of information. I am convenient because
          I require little markup to use effectively.
        {{/md-card-content}}

        {{#md-card-action}}
          <a href="http://meetup.com/modernweb">RSVP</a>
        {{/md-card-action}}

      {{/md-card}}
    </div>

    <div class="col s4">
      {{#md-card title="Card Title" titleClass="orange-text" image="http://placehold.it/100x100"}}

        {{#md-card-content}}
          I am a very simple card. I am good at containing
          small bits of information. I am convenient because
          I require little markup to use effectively.
        {{/md-card-content}}

        {{#md-card-action}}
          <a href="http://meetup.com/modernweb">RSVP</a>
        {{/md-card-action}}

      {{/md-card}}
    </div>
  </div>

  <div class="row">
    <div class="col s4">
      {{#md-card title="Card Title" titleClass="orange-text" image="http://placehold.it/100x100"}}

        {{#md-card-content}}
          I am a very simple card. I am good at containing
          small bits of information. I am convenient because
          I require little markup to use effectively.
        {{/md-card-content}}

        {{#md-card-action}}
          <a href="http://meetup.com/modernweb">RSVP</a>
        {{/md-card-action}}

      {{/md-card}}
    </div>

    <div class="col s4">
      {{#md-card title="Card Title" titleClass="orange-text" image="http://placehold.it/100x100"}}

        {{#md-card-content}}
          I am a very simple card. I am good at containing
          small bits of information. I am convenient because
          I require little markup to use effectively.
        {{/md-card-content}}

        {{#md-card-action}}
          <a href="http://meetup.com/modernweb">RSVP</a>
        {{/md-card-action}}

      {{/md-card}}
    </div>

    <div class="col s4">
      {{#md-card title="Card Title" titleClass="orange-text" image="http://placehold.it/100x100"}}

        {{#md-card-content}}
          I am a very simple card. I am good at containing
          small bits of information. I am convenient because
          I require little markup to use effectively.
        {{/md-card-content}}

        {{#md-card-action}}
          <a href="http://meetup.com/modernweb">RSVP</a>
        {{/md-card-action}}

      {{/md-card}}
    </div>
  </div>


  <div class="row">
    <div class="col s12">
      <h4>Past</h4>
    </div>
  </div>
  <div class="row">
    <div class="col s4">
      {{#md-card title="Card Title" titleClass="orange-text" image="http://placehold.it/100x100"}}

        {{#md-card-content}}
          I am a very simple card. I am good at containing
          small bits of information. I am convenient because
          I require little markup to use effectively.
        {{/md-card-content}}

        {{#md-card-action}}
          <a href="http://meetup.com/modernweb">RSVP</a>
        {{/md-card-action}}

      {{/md-card}}
    </div>

    <div class="col s4">
      {{#md-card title="Card Title" titleClass="orange-text" image="http://placehold.it/100x100"}}

        {{#md-card-content}}
          I am a very simple card. I am good at containing
          small bits of information. I am convenient because
          I require little markup to use effectively.
        {{/md-card-content}}

        {{#md-card-action}}
          <a href="http://meetup.com/modernweb">RSVP</a>
        {{/md-card-action}}

      {{/md-card}}
    </div>

    <div class="col s4">
      {{#md-card title="Card Title" titleClass="orange-text" image="http://placehold.it/100x100"}}

        {{#md-card-content}}
          I am a very simple card. I am good at containing
          small bits of information. I am convenient because
          I require little markup to use effectively.
        {{/md-card-content}}

        {{#md-card-action}}
          <a href="http://meetup.com/modernweb">RSVP</a>
        {{/md-card-action}}

      {{/md-card}}
    </div>
  </div> --}}

</div>
