<div>
	<h2 class="title-color">Friends</h2>
</div>
<div class="row col s4 m4 l4">
	<img src="http://placehold.it/200x200" alt="">
	<img src="http://placehold.it/200x200" alt="">
	<img src="http://placehold.it/200x200" alt="">
	<img src="http://placehold.it/200x200" alt="">
	<img src="http://placehold.it/200x200" alt="">
	<img src="http://placehold.it/200x200" alt="">
	<img src="http://placehold.it/200x200" alt="">
	<img src="http://placehold.it/200x200" alt="">
</div>
