
<div class="container">

<!-- title -->
	<div class="row padding-top-30">
		<h2 class="text-center title-color rainbow">Modern Web: The Podcast</h2>
	</div>
<!-- end title -->

{{!-- snap button --}}
<div class="col s12 right-align margin-bottom-30">
	{{link-to 'Snapchat & Conferences' 'snapchat' class='btn pink'}}
</div>
{{!-- end snap button --}}

{{!-- S01E11 --}}
	<div class="col s12">
		{{#md-card-panel bodyClass="black-text"}}
		<div class="row">
			<div class="col s12">
				<h4>S01E11 - A Practical Approach to TDD, BDD, and Various Testing Buzzwords</h4>
					<iframe id="audio_iframe" src="https://www.podbean.com/media/player/nb2pd-5ef1c7?skin=109" width="100%" height="100" frameborder="0" scrolling="no"></iframe>
				<p class="font-size-15em">
					In this podcast episode, we speak to Toran Billups (<a href="http://twitter.com/toranb">@toranb</a>) with Jeremy Rowe (<a href="http://twitter.com/jeremy_w_rowe">@jeremy_w_rowe</a>) about all TDD, BDD, and all the other testing buzzwords.
				</p>
				<p class="font-size-15em">
					Topics covered: How to think about tests, what test driven development actually means, behavioral driven development, how beginners should approach testing, what business units should consider before requiring tests, code coverage, pruning acceptance tests, and more.
				</p>
			</div>
		</div>
		{{/md-card-panel}}
	</div>
{{!-- end S01E11 --}}

{{!-- S01E10 --}}
		<div class="col s12">
			{{#md-card-panel bodyClass="black-text"}}
			<div class="row">
				<div class="col s12">
					<h4>S01E10 - Ride the Functional Programming Wave with Cowboyd</h4>
					<iframe id="audio_iframe" src="http://www.podbean.com/media/player/rq34k-5e4fdb?skin=109" width="100%" height="100" frameborder="0" scrolling="no"></iframe>
					<p class="font-size-15em">
						In this podcast episode, Jeffrey Biles (<a href="http://twitter.com/jeffreybiles">@jeffreybiles</a>) of Ember Screencasts interviews Charles Lowell (<a href="http://twitter.com/cowboyd">@cowboyd</a>) ride the functional programming wave and dive into what this actually means.
					</p>
					<p class="font-size-15em">
						Topics covered range from how to think about MVC, moving logic out of controllers and components and into the template, functional programming in ember, the rise of helpers, addons such as ember-composabe-helpers and ember-curry-helpers, and the universal UI workflow.
					</p>
				</div>
			</div>
			{{/md-card-panel}}
		</div>
{{!-- end S01E10 --}}

{{!-- S01E09 --}}
		<div class="col s12">
			{{#md-card-panel bodyClass="black-text"}}
			<div class="row">
				<div class="col s12">
					<h4>S01E09 - Podcastwysocki - RxJS Banter with Matt Podwysocki and Ben Lesh</h4>
					<iframe id="audio_iframe" src="http://www.podbean.com/media/player/sstip-5e4fc4?from=yiiadmin&skin=109&postId=6180804&download=0&share=1&fonts=Helvetica&auto=0" height="100" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe>
					<p class="font-size-15em">
						In S01E09, <a href="http://twitter.com/mattpodwysocki">Matt Podwysocki</a> speaks to <a href="http://twitter.com/benlesh">Ben Lesh</a> about Rx.
					</p>
					<p class="font-size-15em">
						Matt Podcastwysocki brings us through the history of RxJS, thoughts on reactive streams, and tells you how he *really* feels about RxJS 5.
					</p>
					<p class="font-size-15em">
						Ben and Matt go back and forth on exploring conversations focused on backpressure, implementations of Rx in Ember, ES observables and the standardization process, and just overall how Rx makes your life as a developer better.
					</p>
					<p class="font-size-15em">
						Ben's favorite color will also be revealed in this podcast. It's a good one.
					</p>
				</div>
			</div>
			{{/md-card-panel}}
		</div>
{{!-- end S01E09 --}}

{{!-- S01 Special Part 2 --}}
	<div class="row">
		<div class="col s12">
			{{#md-card-panel bodyClass="black-text"}}
			<div class="row">
				<div class="col s12">
					<h4>FluentConf Special (Part 2 of 2) - JavaScript 2016 and "The Good 'Ol Days of the Internet"</h4>
					<div class="video-container">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/rMbL1w-Bby4" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="col s12">
						<p class="font-size-15em">An impromptu get together with <a href="http://twitter.com/benlesh">Ben Lesh</a>, <a href="http://twitter.com/mattpodwysocki">Matt Podwysocki</a>, <a href="http://twitter.com/_jayphelps">Jay Phelps</a>, <a href="http://twitter.com/victorsavkin">Victor Savkin</a>, <a href="http://twitter.com/gdi2290">PatrickJS</a>, <a href="http://twitter.com/burgessdryan">Ryan Burgess</a>,
							<a href="http://twitter.com/kentcdodds">Kent C. Dodds</a>, <a href="http://twitter.com/jkup">Jon Kuperman</a>.</p>
						<p class="font-size-15em">
							The guys share their thoughts on what's coming for JavaScript in 2016 (zones, ES6 modules, oh my!) and the good 'ol days of programming. Learn how this group judges your OSS contributions, internt, and why git blame someone else is awesome.
						</p>
						<p class="font-size-15em">We tried to get everyone to wear pajamas. Only <a href="http://twitter.com/mattpodwysocki">@mattpodwysocki</a>, <a href="http://twitter.com/kentcdodds">@kentcdodds</a> and <a href="http://twitter.com/victorsavkin">@victorsavkin</a> obliged.</p>
					</div>
				</div>
			</div>
			{{/md-card-panel}}
		</div>
{{!-- end S01 Special Part 2 --}}


{{!-- S01 Special Part 1 --}}
	<div class="row">
		<div class="col s12">
			{{#md-card-panel bodyClass="black-text"}}
			<div class="row">
				<div class="col s12">
					<h4>FluentConf Special (Part 1 of 2) - O'Reilly FluentConf 2016 - @getify Love, Best Talks, Conferences, Hats, and Pajamas</h4>
					<div class="video-container">
						<iframe width="853" height="480" src="https://www.youtube.com/embed/QRt9QBdpQQ0?rel=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="col s12">
						<p class="font-size-15em">An impromptu get together with <a href="http://twitter.com/benlesh">Ben Lesh</a>, <a href="http://twitter.com/mattpodwysocki">Matt Podwysocki</a>, Alex Rickabaugh, <a href="http://twitter.com/robwormald">Rob Wormald</a>, <a href="http://twitter.com/_jayphelps">Jay Phelps</a>, <a href="http://twitter.com/peterc">Peter Cooper</a>,
							<a href="http://twitter.com/victorsavkin">Victor Savkin</a>, <a href="http://twitter.com/gdi2290">PatrickJS</a>, <a href="http://twitter.com/burgessdryan">Ryan Burgess</a>, <a href="http://twitter.com/kentcdodds">Kent C. Dodds</a>, <a href="http://twitter.com/jkup">Jon Kuperman</a>.</p>
						<p class="font-size-15em">We tried to get everyone to wear pajamas. Only <a href="http://twitter.com/mattpodwysocki">@mattpodwysocki</a>, <a href="http://twitter.com/kentcdodds">@kentcdodds</a> and <a href="http://twitter.com/victorsavkin">@victorsavkin</a> obliged.</p>
					</div>
				</div>
			</div>
			{{/md-card-panel}}
		</div>
{{!-- end S01 Special Part 1--}}

{{!-- S01E08 --}}
	<div class="row">
		<div class="col s12">
			{{#md-card-panel bodyClass="black-text"}}
			<div class="row">
				<div class="col s12">
					<h4>S01E08 - The Evolution of EmberJS and Mentoring Developers featuring EmberSherpa with EmberWeekend</h4>
					<div class="video-container">
						<iframe width="853" height="480" src="https://www.youtube.com/embed/8-Hu_rUnZ5w?list=PL-G5r6j4GptH6S6WnII0fg2fJqhST8SjJ" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="col s12">
						<p class="font-size-15em">Taras, <a href="http://twitter.com/embersherpa">EmberSherpa</a>, speaks to Chase and Jonathan of <a href="http://twitter.com/emberweekend">EmberWeekend</a> on how the ember ecosystem is evolving with regards to application development, mentoring developers, what it's like to pair with 100+ people in just a few months, and more on this Modern Web podcast.</p>
					</div>
				</div>
			</div>
			{{/md-card-panel}}
		</div>
{{!-- end S01E08 --}}

{{!-- S01E07 --}}
		<div class="col s12">
			{{#md-card-panel bodyClass="black-text"}}
			<div class="row">
				<div class="col s12">
					<h4>S01E07 - The Polymer 2016 Roadmap featuring Rob Dodson with Justin Ribeiro</h4>
					<iframe id="audio_iframe" src="http://www.podbean.com/media/player/k5i5a-5d52d5?skin=109" width="100%" height="100" frameborder="0" scrolling="no"></iframe>
					<p class="font-size-15em">
						In S01E07, <a href="http://twitter.com/rob_dodson">Rob Dodson</a>, Google Developer Advocate shares the future of web components and Polymer with us. <a href="http://twitter.com/justinribeiro">Justin Ribeiro</a>, Google Developer Expert interviews.
					</p>
					<p class="font-size-15em">
						Rob gives us an update on the browser web components battle and where everyone is with relation to feature shipments. Shadow DOM and custom elements should be hitting more browsers this year, and where the future of HTML imports will be.
					</p>
					<p class="font-size-15em">
						If you're looking to get started using web components, Rob covers what you as a developer can do right now and Polymer's vision for how they play in the web component ecosystem.
					</p>
					<p class="font-size-15em">
						Rob discusses his opinions as to why large corporations are quicker to adopt web components than the OSS community, shares juicy gossip on an up and coming Polymer CLI, and tells us about cool tools like polygit.org!
					</p>
				</div>
			</div>
			{{/md-card-panel}}
		</div>
{{!-- end S01E07 --}}

{{!-- S01E06 --}}
		<div class="col s12">
			{{#md-card-panel  bodyClass="black-text"}}
			<div class="row">
				<div class="col s12">
					<h4>S01E06 - The Beginning of Ember, Ember-CLI-Deploy, and OSS Teams with Luke Melia &amp; Ember Weekend</h4>
					<iframe id="audio_iframe" src="http://www.podbean.com/media/player/bjgre-5d4a80?skin=109" width="100%" height="100" frameborder="0" scrolling="no"></iframe>
					<p class="font-size-15em"><a href="http://twitter.com/code0100fun">Chase</a> and <a href="http://twitter.com/rondale_sc">Jonathan</a> from <a href="http://twitter.com/emberweekend">Ember Weekend</a> interview <a href="http://twitter.com/lukemelia">Luke Melia</a> from <a href="http://twitter.com/yapplabs">Yapp Labs</a>. Luke shares the beginning of Ember and the adoption of Ember at Yapp Labs when it was just him and Kris Selden coding it up. He shares the behind how Ember NYC started, and how ember-cli-deploy became the default deployment story for Ember.</p>
					<p class="font-size-15em">
						Luke also discusses the success of the ember-cli-deploy plugin ecosystem, the natural evolution of the ember-cli-deploy team, collaboration for open source projects in the ember ecosystem, and his thoughts on how javascript and frameworks will evolve in the next year.
					</p>
				</div>
			</div>
			{{/md-card-panel}}
		</div>
{{!-- end S01E06 --}}


{{!-- S01E05 the trailer--}}
		<div class="col s12">
			{{#md-card-panel  bodyClass="black-text"}}
			<div class="row">
				<div class="col s12">
					<h4>S01E05 Trailer - "I really like Angular 2" - Jafar Husain</h4>
					<div class="video-container">
						<iframe width="853" height="480" src="https://www.youtube.com/embed/1NXhOChi54U?list=PL-G5r6j4GptH6S6WnII0fg2fJqhST8SjJ" frameborder="0" allowfullscreen></iframe>
					</div>
					<p class="font-size-15em">60 second promo trailer for Season 1 Episode 5 of the <a href="http://twitter.com/jeffbcross">Jeff Cross</a> Show on Modern Web featuring <a href="http://twitter.com/jhusain">Jafar Husain</a> of Netflix.</p>
					<p class="font-size-15em">Two words: auto &amp; tune.</p>
				</div>
				<div class="col s12">
					<iframe id="audio_iframe" src="http://www.podbean.com/media/player/xben5-5cf23b?from=yiiadmin&skin=109&postId=6091323&download=0&share=1&fonts=Helvetica&auto=0" height="100" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe>
				</div>
			</div>
			{{/md-card-panel}}
		</div>
{{!-- end S01E05 the trailer --}}

{{!-- S01E05 --}}
		<div class="col s12">
			{{#md-card-panel  bodyClass="black-text"}}
			<div class="row">
				<div class="col s12">
					<h4>S01E05 - It was an observation, I <i>Promise</i></h4>
					<div class="video-container">
						<iframe width="853" height="480" src="https://www.youtube.com/embed/XhVyrAFed58?list=PL-G5r6j4GptH6S6WnII0fg2fJqhST8SjJ" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="col s12">
						<p class="font-size-15em">Welcome to the <a href="http://twitter.com/jeffbcross">Jeff Cross</a> Show on Modern Web!</p>
						<p class="font-size-15em"><a href="http://twitter.com/jhusain">Jafar Husain</a> of Netflix tells us why Angular 2 is the greatest framework ever, then gets put through the ringer with code questions from Jeff Cross. He also speaks about the history of ReactiveX, gives his opinion on observers and promises, and jams on the state of functional programing exploding in the javascript community. He also speaks on FalcorJS and how the project came about at Netflix and its origination.</p>
					</div>
					<div class="col s12">
						<iframe id="audio_iframe" src="http://www.podbean.com/media/player/z4pm8-5cf1f4?from=yiiadmin&skin=109&postId=6091252&download=0&share=1&fonts=Helvetica&auto=0" height="100" width="100%" frameborder="0" scrolling="no" data-name="pb-iframe-player"></iframe>
					</div>
				</div>
			</div>
			{{/md-card-panel}}
		</div>
{{!-- end S01E05 --}}

{{!-- S01E04 --}}
		<div class="col s12">
			{{#md-card-panel  bodyClass="black-text"}}
			<div class="row">
				<div class="col s12">
					<h4>S01E04 - MobileDoc, Torii, and the future of EmberJS</h4>
					<iframe id="audio_iframe" src="http://www.podbean.com/media/player/wmurn-5cae29?skin=109" width="100%" height="100" frameborder="0" scrolling="no"></iframe>
					<p class="font-size-15em"><a href="http://twitter.com/mixonic">Matt Beale</a>, EmberJS core team member discusses with Chase McCarthy and Jonathan Jackson of <a href="http://twitter.com/emberweekend">Ember Weekend</a> his hopes of MobileDoc playing an integral role in the ever-changing web ecosystem, Torii's past, present, and future, and how EmberJS is evolving as a framework and what he believes the future holds for teams such as ember-cli-deploy, ember-data, and more.</p>
				</div>
			</div>
			{{/md-card-panel}}
		</div>
{{!-- end S01E04 --}}

{{!-- S01E03 --}}
		<div class="col s12">
			{{#md-card-panel  bodyClass="black-text"}}
			<div class="row">
				<div class="col s12">
					<h4>S01E03 - ES6, Beard of Jeff Cross, Air Squats, and JavaScript Air</h4>
					<iframe id="audio_iframe" src="http://www.podbean.com/media/player/gxcb6-5cae22?skin=109" width="100%" height="100" frameborder="0" scrolling="no"></iframe>
					<p class="font-size-15em">In this podcast, <a href="htttp://twitter.com/kentcdodds">Kent C. Dodds</a> talks about JavaScript Air and the backlash he's experienced after leaving Angular Air, how he views learning frameworks, his favorite ES6 features, how air squats play a significant role in his speaker life, and how the beard of Jeff Cross brings super powers to the JavaScript community. <a href="http://twitter.com/benlesh">Ben Lesh</a> prods.</p>
				</div>
			</div>
			{{/md-card-panel}}
		</div>
{{!-- end S01E03 --}}

{{!-- S01E02.2 --}}
		<div class="col s12">
			{{#md-card-panel  bodyClass="black-text"}}
			<div class="row">
				<div class="col s12">
					<h4>S01E02 Part 2 - Promises Bad, Observables Good</h4>
					<iframe id="audio_iframe" src="http://www.podbean.com/media/player/j4me2-5ca7f8?skin=109" width="100%" height="100" frameborder="0" scrolling="no"></iframe>
					<p class="font-size-15em">Why are promises bad and observables good? <a href="http://twitter.com/benlesh">Ben Lesh</a>, lead on RxJS 5 talks to Taras Mankovski ((<a href="http://twitter.com/embersherpa">@embersherpa</a>)) about how observables are the way of the future and why you should use them.</p>
				</div>
			</div>
			{{/md-card-panel}}
		</div>
{{!-- end S01E02.2 --}}

{{!-- S01E02.1 --}}
		<div class="col s12">
			{{#md-card-panel  bodyClass="black-text"}}
			<div class="row">
				<div class="col s12">
					<h4>S01E02 Part 1 - Angular vs Ember vs React at Netflix</h4>
					<iframe id="audio_iframe" src="http://www.podbean.com/media/player/ezwbs-5ca7ec?skin=109" width="100%" height="100" frameborder="0" scrolling="no"></iframe>
					<p class="font-size-15em"><a href="http://twitter.com/benlesh">Ben Lesh</a> reveals all to Taras Mankovski (<a href="http://twitter.com/embersherpa">@embersherpa</a>) and talks about frameworks at Netflix. Hear what he has to say about Angular vs Ember vs React at Netflix.</p>
				</div>
			</div>
			{{/md-card-panel}}
		</div>
{{!-- end S01E02.1 --}}

{{!-- S01E01 --}}
		<div class="col s12">
			{{#md-card-panel  bodyClass="black-text"}}
			<div class="row">
				<div class="col s12">
					<h4>S01E01 - What the TC39?</h4>
					<iframe id="audio_iframe" src="http://www.podbean.com/media/player/5yebs-5ca7d0?skin=109" width="100%" height="100" frameborder="0" scrolling="no"></iframe>
					<p class="font-size-15em">What is TC39? <a href="http://twitter.com/wycats">Yehuda Katz</a> is interviewed by <a href="http://twitter.com/_jayphelps">Jay Phelps</a> and discusses details behind what TC39 does as an organization, ES2015, and more.</p>
				</div>
			</div>
			{{/md-card-panel}}
		</div>
	{{!-- end S01E01 --}}
</div>
	{{!-- add giga --}}
	<div class="row">
		<div class="col s12 center-align">
			<img class="responsive-img" src="/img/sams-giga-web-size.png" alt="Giga">
		</div>
	</div>
	{{!-- end add giga --}}
	{{rainbow-tail rainbowClass="rainbow"}}
</div>
</div>
</div>
