
<div class="container">
	<!-- title -->
	<div class="row padding-top-30">
		<h2 class="text-center">Modern Web: The Podcast</h2>
	</div>
	<!-- end title -->



{{!-- S01E04 --}}
	<div class="row">
		<div class="col s12">
			{{#md-card-panel class="cyan lighten-5" bodyClass="black-text"}}
			<div class="row">
				<div class="col s12">
					<h4>S01E04 - MobileDoc, Torii, and the future of EmberJS</h4>
					<iframe id="audio_iframe" src="http://www.podbean.com/media/player/wmurn-5cae29?skin=109" width="100%" height="100" frameborder="0" scrolling="no"></iframe>
					<p class="font-size-15em"><a href="http://twitter.com/mixonic">Matt Beale</a>, EmberJS core team member discusses with Chase McCarthy and Jonathan Jackson of <a href="http://twitter.com/emberweekend">Ember Weekend</a> his hopes of MobileDoc playing an integral role in the ever-changing web ecosystem, Torii's past, present, and future, and how EmberJS is evolving as a framework and what he believes the future holds for teams such as ember-cli-deploy, ember-data, and more.</p>
				</div>
			</div>
			{{/md-card-panel}}
		</div>
	</div>
{{!-- end S01E04 --}}

{{!-- S01E03 --}}
	<div class="row">
		<div class="col s12">
			{{#md-card-panel class="cyan lighten-5" bodyClass="black-text"}}
			<div class="row">
				<div class="col s12">
					<h4>S01E03 - ES6, Beard of Jeff Cross, Air Squats, and JavaScript Air</h4>
					<iframe id="audio_iframe" src="http://www.podbean.com/media/player/gxcb6-5cae22?skin=109" width="100%" height="100" frameborder="0" scrolling="no"></iframe>
					<p class="font-size-15em">In this podcast, <a href="htttp://twitter.com/kentcdodds">Kent C. Dodds</a> talks about JavaScript Air and the backlash he's experienced after leaving Angular Air, how he views learning frameworks, his favorite ES6 features, how air squats play a significant role in his speaker life, and how the beard of Jeff Cross brings super powers to the JavaScript community. <a href="http://twitter.com/benlesh">Ben Lesh</a> prods.</p>
				</div>
			</div>
			{{/md-card-panel}}
		</div>
	</div>
{{!-- end S01E03 --}}

{{!-- S01E02.2 --}}
	<div class="row">
		<div class="col s12">
			{{#md-card-panel class="cyan lighten-5" bodyClass="black-text"}}
			<div class="row">
				<div class="col s12">
					<h4>S01E02 Part 2 - Promises Bad, Observables Good</h4>
					<iframe id="audio_iframe" src="http://www.podbean.com/media/player/j4me2-5ca7f8?skin=109" width="100%" height="100" frameborder="0" scrolling="no"></iframe>
					<p class="font-size-15em">Why are promises bad and observables good? <a href="http://twitter.com/benlesh">Ben Lesh</a>, lead on RxJS 5 talks to Taras Mankovski ((<a href="http://twitter.com/embersherpa">@embersherpa</a>)) about how observables are the way of the future and why you should use them.</p>
				</div>
			</div>
			{{/md-card-panel}}
		</div>
	</div>
{{!-- end S01E02.2 --}}

{{!-- S01E02.1 --}}
	<div class="row">
		<div class="col s12">
			{{#md-card-panel class="cyan lighten-5" bodyClass="black-text"}}
			<div class="row">
				<div class="col s12">
					<h4>S01E02 Part 1 - Angular vs Ember vs React at Netflix</h4>
					<iframe id="audio_iframe" src="http://www.podbean.com/media/player/ezwbs-5ca7ec?skin=109" width="100%" height="100" frameborder="0" scrolling="no"></iframe>
					<p class="font-size-15em"><a href="http://twitter.com/benlesh">Ben Lesh</a> reveals all to Taras Mankovski (<a href="http://twitter.com/embersherpa">@embersherpa</a>) and talks about frameworks at Netflix. Hear what he has to say about Angular vs Ember vs React at Netflix.</p>
				</div>
			</div>
			{{/md-card-panel}}
		</div>
	</div>
{{!-- end S01E02.1 --}}

{{!-- S01E01 --}}
	<div class="row">
		<div class="col s12">
			{{#md-card-panel class="cyan lighten-5" bodyClass="black-text"}}
			<div class="row">
				<div class="col s12">
					<h4>S01E01 - What the TC39?</h4>
					<iframe id="audio_iframe" src="http://www.podbean.com/media/player/5yebs-5ca7d0?skin=109" width="100%" height="100" frameborder="0" scrolling="no"></iframe>
					<p class="font-size-15em">What is TC39? <a href="http://twitter.com/wycats">Yehuda Katz</a> is interviewed by <a href="http://twitter.com/_jayphelps">Jay Phelps</a> and discusses details behind what TC39 does as an organization, ES2015, and more.</p>
				</div>
			</div>
			{{/md-card-panel}}
		</div>
	</div>
	{{!-- end S01E01 --}}
	{{!-- add giga --}}
	<div class="row">
		<div class="col s12 center-align">
			<img class="responsive-img" src="/img/sams-giga-web-size.png" alt="Giga">
		</div>
	</div>
	{{!-- end add giga --}}

</div>
