<!-- title -->
<div class="row padding-top-30">
	<div class="col s12">
		<h2 class="text-center title-color rainbow">Modern Web: The Podcast</h2>
	</div>
</div>
<!-- end title -->

{{!-- snap button --}}
<div class="row">
	<div class="col s12 right-align margin-bottom-30">
		{{link-to 'Snapchat & Conferences' 'snapchat' class='btn pink'}}
	</div>
</div>
{{!-- end snap button --}}

<div class="col s12 cards-container">
	{{!-- <div class="row"> --}}
		{{#each model.podcasts as |podcast| }}
			{{iframe-card model=podcast}}
		{{/each}}
	{{!-- </div> --}}
</div>

{{!-- add giga --}}
<div class="row">
	<div class="col s12 center-align">
		<img class="responsive-img" src="/img/sams-giga-web-size.png" alt="Giga">
	</div>
</div>
{{!-- end add giga --}}
{{rainbow-tail rainbowClass="rainbow"}}
