<div class="padding-top-30">
  <h2 class="title-color center-align">Videos</h2>
  <h5 class="text-center padding-top-15">Through local meetups, we've helped develop content focused on next generation standards, frameworks, tools, and techniques. Here are Modern Web UI featured videos.</h5>
</div>

<div class="new-cards-container">
	<div class="row">
		{{#each model as |podcast|}}
			<div class="col l3 m6 s12">
				{{video-card video=podcast}}
			</div>
		{{/each}}
	</div>
</div>
