<div class="container">
  <div class="padding-top-30">
    <h5 class="text-center">Through local meetups, we've helped develop content focused on next generation standards, frameworks, tools, and techniques.</h5>
  </div>
  <div class="padding-top-30 padding-bottom-30">
    <h5 class="text-center">Here are Modern Web UI featured videos.</h5>
  </div>
</div>
{{!-- videos --}}
<div class="container-fluid">
    <div class="container">
    <div class="row">
      {{#each videos as |video|}}
        {{featured-video video=video}}
      {{/each}}
    </div>
    {{!-- end videos --}}
    {{!-- featured speakers section --}}
    <div class="row">
      <div class="col s12">
        <h5>Featured Speakers</h5>
      </div>
      <div class="col s12">
        {{#each speakers as |speaker|}}
          {{speaker-profile-card speaker=speaker}}
        {{/each}}
      </div>
    </div>
    {{!-- end featured speakers section --}}
  </div>
</div>
