<div class="container">
	<div class="row">
		<div class="col s12">
			<p class="text-center">
				<img src="img/modern-web-ui-logo.png" alt="Modern Web UI logo">
			</p>
		</div>
	</div>
	{{!-- featured speakers section --}}
	<div class="row">
		<div class="col s12">
			{{#each content as |speakers|}}
			{{speaker-profile-card speakers=speakers}}
			{{/each}}
		</div>
	</div>
	{{!-- end featured speakers section --}}
	<p>
		featured speakers section
	</p>
	<p>
		video section
		<iframe width="640" height="360" src="https://www.youtube.com/embed/7CmLV4NkbYE?rel=0" frameborder="0" allowfullscreen></iframe>
		Modern Web UI: "The Road to Native Web Components", by Mike North
	</p>
</div>