<div class="container">
  {{!-- mwui logo --}}
  <div class="row">
    <div class="col s12">
      <p class="text-center">
        <img src="img/modern-web-ui-logo.png" alt="Modern Web UI logo">
      </p>
    </div>
  </div>
  {{!-- end mwui logo --}}
  <div class="padding-bottom-30">
    <h5 class="text-center">Exploring next generation standards, frameworks, tools, and techniques.</h5>
    <h5 class="text-center">Sign up for our Silicon Valley events on <a href="http://meetup.com/modernwebui">Meetup</a>.</h5>
  </div>
</div>
{{!-- videos --}}
<div class="container-fluid lime lighten-3">
  <div class="container">
    <h5 class="margin-top-30">Featured Videos</h5>
  </div>
  <div class="container">
    <div class="row">
      {{#each videos as |video|}}
      {{featured-video video=video}}
      {{/each}}
    </div>
    {{!-- end videos --}}
    {{!-- featured speakers section --}}
    <div class="row">
      <div class="col s12">
        <h5>Featured Speakers</h5>
      </div>
      <div class="col s12">
        {{#each speakers as |speaker|}}
        {{speaker-profile-card speaker=speaker}}
        {{/each}}
      </div>
    </div>
    {{!-- end featured speakers section --}}
  </div>
</div>