
<div class="container">

<!-- title -->
	<div class="row padding-top-30">
		<h2 class="text-center title-color rainbow">Snapchat</h2>
	</div>
<!-- end title -->

{{!-- snap id --}}
<div class="row">
  <div class="col s6 l12 center-align">
    <img class="responsiv-img" src="img/modern-web-snapchat-id.png" alt="snapchat id">
  </div>
  <div class="col s6 l12 center-align margin-bottom-30">
    <h4>Find us snapping at modern web focused conferences around the globe. Where will we be next?</h4>
		<h4>Do you want us to come snap at your conference? <a href="mailto:hello@modern-web.org">Email us</a>.</h4>
  </div>
</div>

{{!-- end snap id --}}

{{!-- coming up --}}
<div class="row">
  <div class="col s12 center-align">
    <img class="responsiv-img" src="img/ng-conf-header.png" alt="ng-conf">
  </div>
  <div class="col s12 center-align margin-bottom-30">
    <h4>ng-conf 2016 - 5/4-5/6 (Salt Lake City, UT)</h4>
  </div>
</div>
{{!-- end coming up  --}}

{{!-- videos --}}
<div class="row">
  <div class="col l6 m6 s12 margin-bottom-30">
    <div class="video-container">
      <iframe width="853" height="480" src="https://www.youtube.com/embed/Ylrknm9juTI?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div class="col l6 m6 s12 margin-bottom-30">
    <div class="video-container">
      <iframe width="853" height="480" src="https://www.youtube.com/embed/3sXTeJxgeQM?list=PL-G5r6j4GptGfHYMGNUaVcYLBL2ysaqcd" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

	<div class="col l6 m6 s12 margin-bottom-30">
    <div class="video-container">
      <iframe width="853" height="480" src="https://www.youtube.com/embed/u-c6nAy0s78?list=PL-G5r6j4GptGfHYMGNUaVcYLBL2ysaqcd" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

	<div class="col l6 m6 s12 margin-bottom-30">
    <div class="video-container">
      <iframe width="853" height="480" src="https://www.youtube.com/embed/YFp3olsxIKo?list=PL-G5r6j4GptGfHYMGNUaVcYLBL2ysaqcd" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>


{{!-- end videos --}}

{{!-- emberconf 2016 --}}
<div class="row">
  <div class="col s12 center-align margin-bottom-30">
    <img class="responsiv-img" src="img/emberconf-logo.png" alt="ember-conf">
  </div>
  <div class="col s12 center-align">
    <h4>EmberConf 2016 - 3/29-3/30 (Portland, OR)</h4>
  </div>
</div>
{{!-- end emberconf 2016 --}}

{{!-- videos --}}
<div class="row">
  <div class="col l6 m6 s12 margin-bottom-30">
    <div class="video-container">
      <iframe width="853" height="480" src="https://www.youtube.com/embed/FQ7BvP_seQ0?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div class="col l6 m6 s12 margin-bottom-30">
    <div class="video-container">
      <iframe width="853" height="480" src="https://www.youtube.com/embed/tkV72rxeZcA?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

	<div class="col l6 m6 s12 margin-bottom-30">
    <div class="video-container">
      <iframe width="853" height="480" src="https://www.youtube.com/embed/SgAIiM1yvHs?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

</div>

{{!-- end videos --}}


{{rainbow-tail rainbowClass="rainbow"}}
</div>
