<div class="container">

	<!-- title -->

  <div class="row padding-top-30">
    <div class="col s12">
      <h1 class="center-align">MODERN WEB TRAINING</h1>
    </div>
  </div>
  <div class="row">
    <div class="col s12">

    <div class="card-panel hoverable cyan lighten-5 black-text z-depth-1 center-align">
      <div class="row">
      <div class="col s12 m12 l8">
        <p class="font-size-2em">
          Best in industry training for beginner, intermediate, and advanced level developers.
        </p>
        <p class="font-size-15em padding-top-45">
          Courses on <a href="http://emberjs.com/">EmberJS</a>, <a href="https://angular.io/">Angular 2</a>, <a href="https://facebook.github.io/react/">ReactJS</a>, <a href="https://www.polymer-project.org/1.0/">Polymer</a>, <a href="http://www.ecma-international.org/ecma-262/6.0/">ES6/ES2015</a>, <a href="http://www.phoenixframework.org/">Phoenix</a>/<a href="http://elixir-lang.org/">Elixir</a>,
          <a href="https://aws.amazon.com/">Amazon AWS</a>, <a href="https://hub.docker.com/enterprise/trial/?gclid=COjfjZes58oCFdgQgQodY4UDrA">Docker</a>, Web Components, Test Driven Development and more.
        </p>
      </div>
        <div class="col s12 m4 l4">
          <p>
            <img class="responsive-img" src="img/modern-web-giga-cloud-sm.png" alt="Giga with a cloud" />
          </p>
        </div>
    </div>
    </div>
  </div>
</div>
	<!-- end title -->

  <div class="row">
    <div class="col s9 m9 l9">
      <h3 class="center-align">CURRENT COURSES</h3>
    </div>
  </div>

  <div class="row">
    <div class="col s9 m9 l9 padding-top-30">
      <div class="card-panel hoverable cyan lighten-5 black-text z-depth-1 center-align">
        <h4>EMBERJS: FAST TRACK &amp; EXPANSION TRACK</h4>
        <p>
          <img class="responsive-img" src="img/modern-web-cari-sign-ember-lg.png" alt="Cari EmberJS" />
        </p>
        <p class="font-size-2em">
          Instructors: Chase &amp; Jonathan of <a href="http://emberweekend.com">Ember Weekend</a>.
        </p>
        <p class="font-size-15em">
          May 24, 2016 - Silicon Valley
        </p>
      </div>
    </div>
  <!-- end featured course -->
  {{!-- TOC --}}
    <div class="col s3 m3 l3">
      <ul class="section table-of-contents font-size-15em">
        <li>{{link-to "What You'll Learn" 'trainings' (query-params anchor='learn') }}</li>
        <li>{{link-to 'Instructors' 'trainings' (query-params anchor='instructors') }}</li>
        <li>{{link-to 'Schedule' 'trainings' (query-params anchor='schedule') }}</li>
        <li>{{link-to 'Register' 'trainings' (query-params anchor='register') }}</li>
      </ul>
    </div>
  {{!-- TOC --}}
  </div>

  <div class="row">
    <div class="col s12">
      <h5 data-anchor='learn'>What You'll Learn</h5>
      <div class="font-size-2em">
        <p>
          Day 1 is a perfect introduction to Ember for beginners and a solid refresher course for intermediate developers. Explore the <a href="https://www.emberaddons.com/">add-on ecosystem</a>, <a href="https://guides.emberjs.com/v2.3.0/components/defining-a-component/">components</a>, <a href="http://ember-cli.com/">Ember-CLI</a>, <a href="http://emberobserver.com/categories/authentication">authentication</a>, <a href="https://guides.emberjs.com/v2.3.0/templates/writing-helpers/">helpers</a> and <a href="https://guides.emberjs.com/v2.3.0/applications/services/">services</a>.
        </p>
        <p>
          Day 2 is a follow-on day from Day 1 and also great for intermediate to experienced developers. We will cover <a href="https://guides.emberjs.com/v2.3.0/testing/">advanced testing techniques</a>, <a href="http://emberobserver.com/categories/authentication">authentication</a>, <a href="http://www.ember-cli-mirage.com/">ember-cli-mirage</a> (mocking and live JSON APIs), <a href="http://emberjs.com/api/data/">Ember Data</a> (creating and persisting a model), <a href="http://ember-cli.com/ember-cli-deploy/">deployment</a>, and sockets.
        </p>
      </div>
      <h5 data-anchor='instructors'>Instructors</h5>
      <h5 data-anchor='schedule'>Schedule</h5>
      <h5 data-anchor='register'>Register</h5>
      <div style="width:100%; text-align:left;" ><iframe  src="//eventbrite.com/tickets-external?eid=21688386548&ref=etckt" frameborder="0" height="306" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #dddddd; text-decoration: none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Powered by Eventbrite</a></div></div>
    </div>
  </div>
<div class="row">
  <div class="col s12">
    <p class="font-size-2em">
      Training available online and offline. Need an exclusive training? Inquire <a href="mailto:hello@modern-web.org">here</a>.
    </p>
  </div>
</div>

</div>
